{% extends "base.html.twig" %}

{% block title %}
  Accueil
{% endblock %}

{% block body %}
  <h1>Bienvenue sur demoBlog</h1>

  <p>Coucou</p>

  <h3>{{ slogan }}</h3>
  {% if age >= 18 %}
    <p> tu es majeur </p>
  {% else %}
    <p> tu es mineur</p>
  {% endif %}
  {% set str = "J'ai un ordinateur" %}
  <p>{{str}}</p>
  {% if str starts with "J'ai" %}
    <p>c'est vrai</p>
  {% endif %}
{% endblock %}